* {
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
    justify-items: center;
}

body {
    max-width: 100%;
    background-color: rgba(255, 0, 0, 0.767);
    margin: auto;

}



.top li {
    text-decoration: none;
    list-style-type: none;
    border: black 5px solid;
    border-radius: 10px;
    padding: 5px;
    max-width: fit-content;
    max-height: 40px;
    margin: 5px;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    display: flex;
    margin-top: 45px;
}

.top li:hover {
    border-color: rgba(238, 255, 0, 0.849);
}

.top li a:hover {
    color: rgba(238, 255, 0, 0.849);

}

.top li a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120px;
    text-align: center;
    margin-bottom: 50px;
}

h1:hover {
    color: rgba(238, 255, 0, 0.849);
}

.ekip {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    margin-bottom: 50px;
}

.ekip img {
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.ekip img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.matos {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.205);
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.952);
    max-width: 90%;
    margin: auto;
    border-radius: 25px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
}

.imgtest {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90%;
    padding: 20px;
}

.imgtest img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.imgtest img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.imgtest2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90%;
    padding: 20px;
}

.imgtest2 img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.imgtest2 img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.i1 {
    z-index: 5;
}

.i2 {
    z-index: 4;
}

.i3 {
    z-index: 3;
}

.i4 {
    z-index: 2;
}

.i3:hover~.i2 {
    z-index: 110;
}

.container {
    width: 90%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0. 1);
}

h2 {
    background-color: #333;
    columns: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

article {
    margin-top: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}