* {
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    max-width: 85%;
    justify-items: center;
}

body {
    max-width: 100%;
    background-color: rgba(255, 0, 0, 0.767);
    margin: auto;

}



.top li {
    text-decoration: none;
    list-style-type: none;
    border: black 5px solid;
    border-radius: 10px;
    padding: 5px;
    max-width: fit-content;
    max-height: 40px;
    margin: 5px;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    display: flex;
    margin-top: 100px;
}

.top li:hover {
    border-color: rgba(238, 255, 0, 0.849);
}

.top li a:hover {
    color: rgba(238, 255, 0, 0.849);

}

.top li a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

h1:hover {
    color: rgba(238, 255, 0, 0.849);
}



.ekip p {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
margin-top: 20px;}



.ekip {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    margin-bottom: 50px;
}

.ekip img {
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.ekip img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.i1:hover~.p1 {color: rgba(238, 255, 0, 0.849);
}
.i2:hover~.p2 {color: rgba(238, 255, 0, 0.849);
}
.i3:hover~.p3 {color: rgba(238, 255, 0, 0.849);
}
.i4:hover~.p4 {color: rgba(238, 255, 0, 0.849);
}
.i5:hover~.p5 {color: rgba(238, 255, 0, 0.849);
}

.matos {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.205);
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.952);
    max-width: 90%;
    margin: auto;
    border-radius: 25px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
}

h2:hover {color: rgba(238, 255, 0, 0.849) ;}

.imgtest {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90%;
    padding: 20px;
}

.imgtest img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.imgtest img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.imgtest2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90%;
    padding: 20px;
}

.imgtest2 img {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 2px 2px black;
}

.imgtest2 img:hover {
    z-index: 10;
    transform: scale(1.05);
    transition: ease 0.5s;
    border-radius: 25px;
}

.i1 {
    z-index: 5;
}

.i2 {
    z-index: 4;
}

.i3 {
    z-index: 3;
}

.i4 {
    z-index: 2;
}

.i3:has(+.i2) {
    z-index: 100;
}

.arduino p {margin: auto;
justify-self: center;
text-align: center;
margin-top: 25px;}

.arduino {border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.205);
    box-shadow: 4px 2px 2px rgba(0, 0, 0, 0.952);
    max-width: 90%;
    margin: auto;
    border-radius: 25px;
margin-top: 25px;
margin-bottom: 25px;}